<!-- This html file contains codes to display the about page -->

<!doctype html>
<html>

<head> 
  <!-- To link external stylesheet and style.css file -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link type="text/css" href="css/style.css" rel="stylesheet">

  <!-- Page title -->
  <title> About SmartHomey </title>

</head>

<body class="bg2">
  <!-- Navigation Bar -->
  <div class="navbar">
    <a href="/">Home</a>
    <a class="active" href="/about">About</a>
    <a href="/viewDevices">View Devices</a>
    <a href="/addDevice">Add Device</a>
    <a href="/deleteD">Delete Device</a>
    <a href="/search">Search</a>
    <div class="logo"> SmartHomey <i class="fa fa-home"></i></div>
  </div>

 <div class="about-container" >
  <div class="content">
    <h1> About <span style="color:#a44b54">SmartHomey<i class="fa fa-home"></i></span></h1>
    <p>This web application was created by June Pang <br>
      as part of the Mid-Term Coursework for the "CM2040 Databases, Networks and the Web" module.<br>  
      <br>This application is designed to provide easy monitoring and control of devices in a smart home.<br><br>
    
      <br>
      Functions of SmartHomey include: 
      <ul>
        <li><a href="/addDevice">Adding a device</a></li>
        <li><a href="/viewDevices">Viewing all added devices</a></li>
        <li><a href="/viewDevices">Updating a device</a></li>
        <li><a href="/deleteD">Deleting a device</a></li>
        <li><a href="/search">Searching for an added device</a></li>
      </ul>
    </p>
  </div>
</div>
</body>
</html>