<!-- This html file contains codes to display the success message after user deletes a device -->

<!doctype html>
<html>

<head>
  <!-- To link style.css file -->
  <link type="text/css" href="css/style.css" rel="stylesheet">
  
  <!-- Page title -->
  <title>Device Deleted!</title>
</head>

<body class="bg2">
  <div class="container">
    
    <h2> Device Successfully Deleted! </h2><br>

    <!-- "OK" button links back to the All Devices page -->
    <a href="/viewDevices"><button class="button">OK</button></a>

  </div>
</body>

</html>