  <!-- This html file contains codes to display device information for the selected device -->

  <!doctype html>
  <html>

  <head>
    <!-- To link external stylesheet and style.css file -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" href="css/style.css" rel="stylesheet">
    
    <!-- Page title -->
    <title>View Device</title>
  </head>

  <body class="bg2">
  <!-- Navigation Bar -->
  <div class="navbar">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a class="active" href="/viewDevices">View Devices</a>
    <a href="/addDevice">Add Device</a>
    <a href="/deleteD">Delete Device</a>
    <a href="/search">Search</a>
    <div class="logo"> SmartHomey <i class="fa fa-home"></i></div>
  </div>

    <% availableDevices.forEach(function(device){ %>
    <div class="container">

      <!-- back button to go back to the previous page -->
      <button style="float:left;" onclick="history.back()">Back</button>

      <h1><%= device.device_type %> | <u><%= device.device_name %></u></h1> 
      
      <!-- Display different images depending on the device type. All images are from https://www.flaticon.com/ -->
      <% if (device.device_type == 'Light') {%>
        <img src="/images/lightbulb.png" 
        alt="image of a lightbulb" class="image2">
      <% } %>

      <% if (device.device_type == 'Camera') {%>
        <img src="/images/camera.png" 
        alt="image of a camera" class="image2">
      <% } %>

      <% if (device.device_type == 'Air Conditioner') {%>
        <img src="/images/aircon.png" 
        alt="image of an air conditioner" class="image2">
      <% } %>

      <% if (device.device_type == 'Television') {%>
        <img src="/images/television.png" 
        alt="image of a television" class="image2">
      <% } %>

      <% if (device.device_type == 'Refrigerator') {%>
        <img src="/images/fridge.png" 
        alt="image of a refrigerator" class="image2">
      <% } %>
      
      <% if (device.device_type == 'Fan') {%>
        <img src="/images/fan.png" 
        alt="image of a fan" class="image2">
      <% } %>

      <% if (device.device_type == 'Speaker') {%>
        <img src="/images/speaker.png" 
        alt="image of a speaker" class="image2">
      <% } %>
      
      <br><br>
    <div style="font-size:19px; padding-right:20%;">
      Status: <%= device.status %>
      <br>

      <!-- Only display the temperature volume and/or speed if the value is not null -->
      <% if (device.temperature != null) {%>
      Temperature: <%= device.temperature %> °C
      <br>
      <% } %>

      <% if (device.volume != null) {%>
      Volume: <%= device.volume %>
      <br>
      <% } %>
      
      <% if (device.speed != null) {%>
      Speed: <%= device.speed %>
      <% } %>  
    </div>

 <br><br><br>
   
  <% }) %>
  </body>
  </html>